<!-- Landing/Authentication Layout -->
<div class="landing-layout">
  <!-- Landing Navigation -->
  <%= render 'shared/landing_navbar' %>

  <!-- Flash Messages -->
  <div class="landing-layout__flash">
    <%= render 'shared/flash_messages' %>
  </div>

  <!-- Page Content -->
  <%= yield %>

  <!-- Landing Footer -->
  <%= render 'shared/landing_footer' %>
</div>